body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
}

#mainContainer {
    max-width:1105px;
    margin-left: auto;
    margin-right:auto;
}

#header img {
    vertical-align: -5px;
}

#header span {
    font-weight: bold;
    font-size: 24px;
}

img {  border-style: none;
}


.columnLeft {
    float: left;
    min-width:200px;
    max-width:450px;
}

.columnMiddle {
    float: left;
    width:450px;
}

.columnRight {
    float: left;
    width:200px;
}

.textBlock {
    margin: 1em;
    padding: 0.5em;
    border: thin solid #ffffff;
}
.videoBlock {
    width: 420px;
    height: 315px;
    margin: 1em;
    padding: 0;
    border: none;
}

.videoThumbnail {
    cursor: pointer;
}

.buttonBlock {
    width: 262px;
    margin: 1em;
    padding: 0.5em;
    border: none;
}

a {
    text-decoration: none;
    color: gold;
}

a:visited {
    color: gold;
}

.ghost {
    position: absolute;
    opacity:0.2;
}

.columnThin .textBlock {
    font-size: 14px;
}


.columnThin ul {
    padding-left: 1em;
}

li {
    margin-bottom: 0.5em;
}
a#twitter {
    margin: 1em;
    display: block;
    width: 64px;
    height: 52px;
    text-decoration: none;
    background-image: url('../resources/twitter_logo.png');
}

a#twitter:hover {
    background-position: -64px 0;
}

