html {
    height:100%;
}

* {
    box-sizing: border-box;
}
body {
    background-image:url('../images/sos.png');
    padding:0px;
    margin:0px;
    height:100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}

#main-container {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    height: 100%;
}


@media (min-width: 540px) {
    #main-container {
        width: 520px;
    }
}

@media (min-width: 800px) {
    #main-container {
        width: 780px;
    }
}

#appendix {
    border-top: 1px solid black ;
    background-color: lightgrey;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;

}
.smalltext {
    font-size: 0.8em;
}

.smalltext h1 {
    font-size: 1em;
}

#header {
    height:60px;
    background-image: url('../images/henspace_header-01.png');
    background-repeat: no-repeat;
    background-position:left;
    margin-bottom:1em;
    text-align:center;
}

#middle {
    margin-left:auto;
    margin-right:auto;
}

.bottom-section {
    padding:0.5em;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
}

.block {
    float:left;
    padding:0.5em;
    width: 260px;
    margin-bottom: 10px;
}

.block .top-section {
    height:150px;
    background-color:#dddddd;
    border: 1px solid #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    padding:0.5em;
    background-repeat:no-repeat;
    background-position:center top;
}

.block .bottom-section {
    background-color:#000000; 
    color: #ffffff;
    border: 1px solid #000000;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:5px;
    padding:1em;
}

.roundal {
    float:left;
    background-color:#0972a5;
    min-width:120px;
    min-height:120px;
    border: thin solid #0972a5;
    border-radius:60px;
    padding:22px;
    padding-top:30px;

    text-align:center;
    font-size:80%;
    margin: 10px;
    cursor:pointer;
}

.roundal .title {
    font-weight:bold;
    color:#ffffff;
}

.nofloat {
    clear:both;
}

#twitter {
    background-image:url('../images/twitter-bird-dark-bgs.png');
    padding: 0px;
}
